

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #134c64; 
    border-bottom: 1px solid #02080B; 
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d8d1c6; 
    text-decoration: none;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: 1px solid #02080B; 
    background-color: #FDEECF; 
}

#navbar form button {
    background-color: #FDEECF; 
    border: 1px solid #02080B;
    border-radius: 4px;
    color: #37260C; 
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

#navbar form button:hover {
    background-color: transparent;
    color: #97BEA9;
    border-color: #97BEA9;
}
